@font-face { font-family: Bauhaus; src: url('/fonts/Bauhaus_.ttf');}
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1.3vw; 
}

body {
    background-image: url("/img/bg_dots.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #EBEBEB;
}

.wrapper {
    display: grid;
    justify-items: center;
}
h1 {
    font-family: 'Bauhaus', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55vw;
}

.profile-pic img {
    width: 30vw;
    height: 30vw;
    border: 1px solid #000;
    border-radius: 50%;
}

.main {
    display: flex;
    grid-template-areas: 
    "bio-block name-block"
    "horizontal-thick horizontal-thick"
    "empty skills-block"
    "contact-block empty";
}

.first-row {
    display: flex;
    flex-direction: row;
}

.hover-menu {
    position: absolute;
    font-size: 4vw;
    background-color: #EBEBEB;
    padding: 0.5vw;
}

.developer {
    position: absolute;
    margin-left: 74vw;
    margin-top: 6vw;
    font-size: 3vw;
    background-color: #EBEBEB;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1.2s;
	-moz-animation-duration:1.2s;
	animation-duration:1.2s;
} 

.bio {
    margin-left: 39vw;
    margin-top: -7vw;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.skills {
    margin-left: 67vw;
    margin-top: 42vw;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.contact {
    margin-top: 51vw;
    margin-left: 26vw;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.bio-block {
    width: 15vw;
    height: 15vw;
    background-color: #EDB230;
    border-top-left-radius: 30px;
    border: 0.5px solid #000; 
    border-right: 0;
    border-bottom: 0;
    grid-area: bio-block;
    margin-left: 33.5vw;
    margin-right: 1.5vw;
}

.name-block {
    font-family: 'Bauhaus', sans-serif;
    font-size: 5vw;
    letter-spacing: 1.4vw;
    grid-area: name-block;
    width: 45vw;
    height: 7vw;
    background-color: #EBEBEB;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.third-row {
    display: flex;
    flex-direction: row;
}
.empty {
    width: 49vw;
    /* height: 39vw; */
}
.skills-block {
    width: 15vw;
    height: 30vw;
    border: 0.5px solid #000; 
    border-top: 0;
    border-left: 0;
    background-color: #F46629;
    border-bottom-right-radius: 30px;
    grid-area: skills-block;
    margin-left: 0.5vw;
}

.forth-row {
    display: flex;
    flex-direction: row;
}

.contact-block {
    width: 40vw;
    height: 30vw;
    background-color: #477ACC;
    border-top-left-radius: 30px;
    border: 0.5px solid #000;
    border-bottom: 0;
    border-right: 0;
    grid-area: contact-block;
    margin-left: 9vw;
    margin-top: 10vw;
}
.second-row {
    display: flex;
    justify-content: space-around;
}
.horizontal-thick {
    width: 90vw;
    background-color:rgba(0, 0, 0, 0.85);
    height: 2vw;
    border-radius: 3px;
    grid-area: horizontal-thick;
}

.horizontal-thin {
    width: 60vw;
    background-color:rgba(0, 0, 0, 0.7);
    height: 1.5vw;
    border-radius: 3px;
    grid-area: horizontal-thin;
}

.sixth-row {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.vertical {
    height: 115vw;
    width: 1vw;
    margin-left: 50%;
    margin-top: -101.5vw;
    transform: translateX(-50%);
    background-color:rgba(0, 0, 0, 0.7);
}


/* Footer properties */
footer {
    align-content: flex-end;
    width: 100%;
    margin-top: 8vw;
}

.pointer-block {
    display: flex;
    width: 5vw;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.pointer-block span {
    font-size: 8vw;
    width: 5vw;
    background-color: #EBEBEB;
    border-radius: 50%;
    align-self: center;
    transform: rotate(90deg);
    animation-name: stretch;
    animation-duration: 1s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
      transform: scale(1) rotate(90deg);
   
      border-radius: 50%;
    }
    50% {
      border-radius: 50%;
    }
    100% {
      transform: scale(1.5) rotate(90deg);
      border-radius: 50%;
    }
  }

footer .logo {
    width: 18vw;
    height: 18vw;
    margin-top: -16vw;
    margin-left: 80%;
    position: absolute;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;

}
footer .logo img {
    width: 18vw;
    height: 18vw;
    background-color: #EBEBEB;
}

/* bio-page */
.bio-page {
    height: 100vh;
    width: 100vw;
    border-top: 1px solid black;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
    "bio-top bio-top bio-top"
    "bio-content bio-content bio-content"
    "menu-small menu-small menu-small"
    "pointer-block pointer-block pointer-block";
}

.bio-page .bio-top {
    height: 20vw;
    margin-top: 8vw;
    grid-area: bio-top;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4vw;
}
.bio-page .logo {
    width: 18vw;
    height: 18vw;
}

.bio-page .logo img {
    width: 18vw;
    height: 18vw;
    background-color: #EBEBEB;
}

.bio-page .page-title { 
    margin-top: 10vw;
    height: 5vw;
    margin-left: 45vw;
    background-color: #EBEBEB;
    padding: 0.5vw;
}

.bio-page .bio-block {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #000;

}

.bio-page .bio-content {
    grid-area: bio-content;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 3vw;
    font-size: 2.5vw;
}

.bio-page .bio-content img {
    width: 90vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 5px;
}

.bio-content p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 3vw;
    background-color: #EBEBEB;
    padding: 1vw;
}

.bio-content span {
    font-weight: 900;
}

.small-menu {
    width: 100vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
}

.menu-small-bio,
.menu-small-skills, 
.menu-small-contact {
    width: 30vw;
    margin-left: 15vw;
    transform: translateX(-50%);
    font-size: 4vw;
} 

.bio-page .menu-small-bio {
    color: #EDB230;
    font-weight: 900;
    font-size: 5vw;

}

.bio-page .pointer-block {
    grid-area: pointer-block;
}
/* skills page */

.skills-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
    "skills-top skills-top skills-top"
    "skills-content skills-content skills-content"
    "menu-small menu-small menu-small"
    "pointer-block pointer-block pointer-block";
}

.skills-page .skills-top {
    height: 20vw;
    margin-top: 8vw;
    grid-area: skills-top;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4vw;
}

.skills-top .logo {
    width: 18vw;
    height: 18vw;
}

.skills-top .logo img {
    width: 18vw;
    height: 18vw;
    background-color: #EBEBEB;

}

.skills-top .page-title { 
    margin-top: 25vw;
    height: 5vw;
    margin-left: 38vw;
    background-color: #EBEBEB;
    padding: 0.5vw;
}
.skills-top .skills-block {
    border: 1px solid #000;
}

.skills-page .skills-content {
    grid-area: skills-content;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 25vw;
    font-size: 2.5vw;
}

.skills-page .skills-content img {
    width: 90vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 5px;
}

.skills-content p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 3vw;
    background-color: #EBEBEB;
    padding: 1vw;
}

.skills-content h3 {
    background-color: #EBEBEB;
    padding: 1vw;
}

.skills-page .small-menu {
    width: 100vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
    margin-top: 8vw;
}

.skills-page .menu-small-skills {
    color: #F46629;
    font-weight: 900;
    font-size: 5vw;

}

.skills-page .pointer-block {
    grid-area: pointer-block;
}


/* contact page */

.contact-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
    "contact-top contact-top contact-top"
    "contact-content contact-content contact-content"
    "menu-small menu-small menu-small"
    "pointer-block pointer-block pointer-block";
}

.contact-page .contact-top {
    height: 20vw;
    margin-top: 8vw;
    grid-area: contact-top;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4vw;
}

.contact-top .logo {
    width: 18vw;
    height: 18vw;
}

.contact-top .logo img {
    width: 18vw;
    height: 18vw;
    background-color: #EBEBEB;

}

.contact-top .page-title { 
    height: 5vw;
    background-color: #EBEBEB;
    padding: 0.5vw;
    margin-left: 13vw;
    margin-top: 10vw;
}
.contact-top .contact-block {
    border: 1px solid #000;
    margin-top: 0;
    margin-left: -13vw;
    width: 20vw;
    height: 15vw;
}

.contact-page .contact-content {
    grid-area: contact-content;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 25vw;
    font-size: 2.5vw;
}

.contact-page .contact-content img {
    width: 90vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 5px;
}

.contact-content p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 3vw;
    background-color: #EBEBEB;
    padding: 1vw;
}

.contact-content h3 {
    background-color: #EBEBEB;
    padding: 1vw;
}

.contact-page .small-menu {
    width: 100vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
    margin-top: 8vw;
}

.contact-page .menu-small-contact {
    color: #477ACC;
    font-weight: 900;
    font-size: 5vw;

}
.contact-page .pointer-block {
    grid-area: pointer-block;
}

/* contact page */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #EBEBEB;
    outline: none;
}

input[id=message] {
    height: 40vw;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    text-align: left;
    
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    text-align: left;
    
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
    text-align: left;
    
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
    text-align: left;
    
  }

label {
    background-color: #EBEBEB;
    padding: 1.5vw;
    padding: 12px 12px 12px 0;
    display: inline-block;
    
}

input[type=submit] {
    width: 100%;
    background-color: #EBEBEB;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EBEBEB;
}

input[type=text]:focus {
    border: 1px solid #EBEBEB;
}