@font-face { font-family: Bauhaus; src: url('/fonts/Bauhaus_.ttf');}
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0.8vw; 
}

body {
    background-image: url("/img/bg_dots.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #EBEBEB;
}

a {
    text-decoration: none;
    color: #000;
}
.wrapper {
    display: grid;
    justify-items: center;
}
h1 {
    font-family: 'Bauhaus', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40vh;
    
}


.profile-pic img {
    width: 30vw;
    height: 30vw;
    border: 1px solid #000;
    border-radius: 50%;
}

.main {
    display: grid;
    grid-template-areas: 
    "bio-block name-block"
    "horizontal-thick horizontal-thick"
    "empty skills-block"
    "contact-block empty"
    "footer footer";
}
.landing-page {
    height: 100vh;
    width: 100vw;
}
.first-row {
    display: flex;
    flex-direction: row;
}

.hover-menu {
    position: absolute;
    font-size: 2vh;
    background-color: #EBEBEB;
}

.developer {
    position: absolute;
    margin-left: 74vw;
    margin-top: 3vh;
    font-size: 3vw;
    background-color: #EBEBEB;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1.2s;
	-moz-animation-duration:1.2s;
	animation-duration:1.2s;
} 

.bio {
    margin-left: 41vw;
    margin-top: -3vh;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.skills {
    margin-left: 67vw;
    margin-top: 21vh;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.contact {
    margin-top: 51vh;
    margin-left: 29vw;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.bio-block {
    grid-area: bio-block;
    width: 15vw;
    height: 15vw;
    background-color: #EDB230;
    border-top-left-radius: 30px;
    border: 0.5px solid #000; 
    border-right: 0;
    border-bottom: 0;
    grid-area: bio-block;
    margin-left: 33.5vw;
    margin-right: 1.5vw;
    display: block;
}

.bio-block a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.name-block {
    grid-area: name-block;
    font-family: 'Bauhaus', sans-serif;
    font-size: 3vh;
    letter-spacing: 1.4vw;
    grid-area: name-block;
    width: 45vw;
    height: 7vw;
    background-color: #EBEBEB;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.third-row {
    display: flex;
    flex-direction: row;
}
.empty {
    width: 49vw;
    grid-area: empty;
}
.skills-block {
    grid-area: skills-block;
    width: 15vw;
    height: 25vw;
    border: 0.5px solid #000; 
    border-top: 0;
    border-left: 0;
    background-color: #F46629;
    border-bottom-right-radius: 30px;
    grid-area: skills-block;
    margin-left: 0.5vw;
}

.skills-block a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.forth-row {
    display: flex;
    flex-direction: row;
}

.contact-block {
    grid-area: contact-block;
    width: 40vw;
    height: 25vw;
    background-color: #477ACC;
    border-top-left-radius: 30px;
    border: 0.5px solid #000;
    border-bottom: 0;
    border-right: 0;
    grid-area: contact-block;
    margin-left: 9vw;
    margin-top: 5vw;
}

.contact {
    margin-top: 41vw;
}

.contact-block a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.second-row {
    display: flex;
    justify-content: space-around;
}
.horizontal-thick {
    grid-area: horizontal-thick;
    width: 90vw;
    background-color:rgba(0, 0, 0, 0.85);
    height: 1vh;
    border-radius: 3px;
    grid-area: horizontal-thick;
}

.horizontal-thin {
    width: 60vw;
    background-color:rgba(0, 0, 0, 0.7);
    height: 0.5vh;
    border-radius: 3px;
    grid-area: horizontal-thin;
}

.sixth-row {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.vertical {
    height: 64vh;
    width: 1vw;
    margin-left: 50%;
    margin-top: -53vh;
    transform: translateX(-50%);
    background-color:rgba(0, 0, 0, 0.7);
}

@media screen and (min-height: 737px) and (max-height: 812px){
    .vertical {
        margin-top: -47vh;
    }
    .name-block {
        font-size: 2vh;
    }
}

@media screen and (min-height: 1024px) {
    .vertical {
        margin-top: -60.5vh;
        height: 65vh;
        
    }
    header {
        height: 35vh;
    }
}

/* Footer properties */
footer {
    grid-area: footer;
    align-content: flex-end;
    width: 100%;
}


.pointer-block {
    width: 90vw;
    display: flex;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

.pointer-block span {
    margin-top: 1vh;
    font-size: 5vh;
    margin-left: 51.5%;
    background-color: #EBEBEB;
    border-radius: 50%;
    transform: rotate(90deg);
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
}

footer .logo {
    width: 18vw;
    height: 18vh;
    margin-top: -6vh;
    margin-left: 80%;
    position: absolute;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;

}
footer .logo img {
    width: 18vw;
    height: 12vh;
    background-color: #EBEBEB;
}

/* bio-page */
.bio-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
    "bio-top bio-top bio-top"
    "bio-content bio-content bio-content"
    "menu-small menu-small menu-small"
    "pointer-block pointer-block pointer-block";
}

.bio-page .bio-top {
    height: 20vh;
    margin-top: 8vh;
    grid-area: bio-top;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4vw;
}
.bio-page .logo {
    width: 18vw;
    height: 12vh;
}

.bio-page .logo img {
    width: 18vw;
    height: 12vh;
    background-color: #EBEBEB;
}

.bio-page .page-title { 
    margin-top: 6vh;
    height: 2vh;
    margin-left: 45vw;
    background-color: #EBEBEB;
    padding: 0.5vw;
}

.bio-page .bio-block {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #000;
}

.bio-page .bio-content {
    grid-area: bio-content;
    width: 70vw;
    margin-left: 20vw;
    margin-top: 2vh;
    
}

.bio-page .bio-content img {
    width: 70vw;
    margin-top: 2vh;
    margin-bottom: 3vw;
    border-radius: 5px;
}

.bio-content p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 3vh;
    background-color: #EBEBEB;
    padding: 1vw;
    font-size: 2vw;
}

.bio-content span {
    font-weight: 900;
}

.small-menu {
    width: 100vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
}

.menu-small-bio,
.menu-small-skills, 
.menu-small-contact {
    width: 33vw;
    text-align: center;
    font-size: 2vh;

} 

.bio-page .menu-small-bio {
    color: #EDB230;
    font-weight: 900;
    font-size: 2vh;

}

.bio-page .pointer-block {
    grid-area: pointer-block;
}
/* skills page */

.skills-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
    "skills-top skills-top skills-top"
    "skills-content skills-content skills-content"
    "menu-small menu-small menu-small"
    "pointer-block pointer-block pointer-block";
}

.skills-page .skills-top {
    height: 20vh;
    margin-top: 8vh;
    grid-area: skills-top;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4vw;
}

.skills-top .logo {
    width: 18vw;
    height: 12vh;
}

.skills-top .logo img {
    width: 18vw;
    height: 12vh;
    background-color: #EBEBEB;

}

.skills-top .page-title { 
    margin-top: 9vh;
    height: 2vh;
    margin-left: 44vw;
    background-color: #EBEBEB;
    padding: 0.5vw;
}
.skills-top .skills-block {
    border: 1px solid #000;
    width: 10vw;
    height: 12vh;
}

.skills-page .skills-content {
    grid-area: skills-content;
    width: 70vw;
    margin-left: 20vw;
    margin-top: 3vh;
}

.skills-content p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 3vh;
    background-color: #EBEBEB;
    padding: 1vw;
    font-size: 1.5vh;
}

.skills-content h3 {
    background-color: #EBEBEB;
    font-size: 2vh;
    padding: 1vw;
}

.skills-page .small-menu {
    width: 100vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
    margin-top: 3vh;
}

.skills-page .menu-small-skills {
    color: #F46629;
    font-weight: 900;
    font-size: 2vh;

}

.skills-page .pointer-block {
    grid-area: pointer-block;
}

/* contact page */

.contact-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
    "contact-top contact-top contact-top"
    "contact-content contact-content contact-content"
    "icons icons icons"
    "menu-small menu-small menu-small"
}

.contact-page .contact-top {
    height: 20vh;
    margin-top: 8vh;
    grid-area: contact-top;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4vw;
}

.contact-top .logo {
    width: 18vw;
    height: 12vh;
}

.contact-top .logo img {
    width: 18vw;
    height: 12vh;
    background-color: #EBEBEB;

}

.contact-top .page-title { 
    height: 2vh;
    background-color: #EBEBEB;
    padding: 0.5vw;
    margin-left: 13vw;
    margin-top: 7vh;
}
.contact-top .contact-block {
    border: 1px solid #000;
    margin-top: 0;
    margin-left: -13vw;
    width: 20vw;
    height: 10vh;
}

.contact-page .contact-content {
    grid-area: contact-content;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 2vh;
    font-size: 2.5vw;
}

.contact-content p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1vh;
    background-color: #EBEBEB;
    padding: 1vh;
}

.contact-page .small-menu {
    width: 100vw;
    height: 2vh;
    grid-area: menu-small;
    background-color: #EBEBEB;
    margin-top: 3vh;
}

.contact-page .menu-small-contact {
    color: #477ACC;
    font-weight: 900;
    font-size: 2vh;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #EBEBEB;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #EBEBEB;
    outline: none;
}

input[id=message] {
    height: 15vh;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    font-size: 2vh;
    
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    font-size: 2vh;
    
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
    font-size: 2vh;
    
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
    font-size: 2vh;
    
  }

label {
    background-color: #EBEBEB;
    padding: 1.5vw;
    padding: 12px 12px 12px 0;
    display: inline-block;
    
}

input[type=submit] {
    width: 33%;
    background-color: #EBEBEB;
    color: #000000;
    font-size: 2.5vw;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: 50%;
    transform: translateX(-50%);
}

input[type=submit]:hover {
    background-color: #EBEBEB;
    border-bottom: 1px solid #477ACC;
    border-right: 1px solid #477ACC;
}

input[type=text]:focus {
    border: 1px solid #EBEBEB;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;

    
}

.icons {
    grid-area: icons;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin-top: 2vh;
    font-size: 3vh;
}

